__pycache__/
.venv/
venv/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
device_tokens.json
.env
.git
node_modules/
__pycache__/
venv/
.venv/
.pytest_cache/
*.pyc
*.pyo
*.pyd
env/
build/
dist/
*.egg-info/
mariadb_data/
*.sqlite
*.db
venv/
node_modules/
/.git
